[run]
branch = true
source = src/terraform_manager
omit =
    src/terraform_manager/__init__.py
    src/terraform_manager/__main__.py

[report]
fail_under = 80
show_missing = True
skip_empty = True
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if __name__ == .__main__.:
